{% extends 'ecloud/base.html' %}
<!-- {% block body_block %}
  <div class="container">
    <div class="jumbotron">
      <h1>Login here :</h1>
<form method="post" action="{% url 'e_cloud_finance_module:user_login' %}">
          {% csrf_token %}
          {# A more "HTML" way of creating the login form#}
          <label for="username">Username:</label>
          <input type="text" name="username" placeholder="Username">
<label for="password">Password:</label>
          <input type="password" name="password" placeholder="Password">
<input type="submit" name="" value="Login">
</form>
</div>
  </div>
{% endblock %}

{% extends "rest_framework/login_base.html" %}
{% load staticfiles %}
 -->
{% block style %}
    {% block bootstrap_theme %}
        <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css"
            type="text/css">
        <link rel="stylesheet" type="text/css" href="/static/login.css" />
    {% endblock bootstrap_theme %}
{% endblock %}

{% block title %}
    HealthCloud
{% endblock title %}

{% block body %}
<body>
    <div class="row">
    <div class="jumbotron">
  <h1><center>ECLOUD FINANCE LOGIN</center></h1>
</div>
<div class="col-xs-offset-3 col-xs-6">
        <form action="" role="form" method="post">
            {% csrf_token %}

            <div class="form-group {% if form.username.errors %}has-error{% endif %} form-group-lg">
                <label for="id_username">Email:</label>
                <input type="username" name="username" maxlength="100"
                    class="form-control"
                    id="id_username" required
                    {% if form.username.value %}
                        value="{{ form.username.value }}"
                    {% endif %}
                >
                {% if form.username.errors %}
                    <p class="text-error">
                        {{ form.username.errors|striptags }}
                    </p>
                {% endif %}
            </div>

            <div class="form-group {% if form.password.errors %}has-error{% endif %} form-group-lg">
                <label for="id_password">Password:</label>
                <input type="password" name="password" maxlength="100"
                    autocapitalize="off" autocorrect="off" class="form-control"
                    id="id_password" required>
                {% if form.password.errors %}
                    <p class="text-error">
                        {{ form.password.errors|striptags }}
                    </p>
                {% endif %}
            </div>

            <input type="hidden" name="next" value="{{ next }}" />

            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <div class="well well-small text-error">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}

            <input type="submit" name="submit" value="Log in" class="btn btn-primary form-control" id="submit-id-submit">
        </form>
        </div>
    </div>
</body>
{% endblock %}
